*{
  
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.style-jumbo {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 1px;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  transition: all 1s;
  opacity: 0.9;
  
}
.card-header1 {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  color: white;
  font-weight: 800;
}
.flexing-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.button-styling:hover {
  opacity: 0.65;
}

.font-styling {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  transition: 1s ease-in;
}
  .link1:hover {
    opacity: 0.65;
  }
  .link2 {
    margin: 7.5px;
  }
  .link2:hover {
    opacity: 0.65;
  }
  .first-span {
    font-size: 50px;
    font-family: fantasy;
  }
  .logo-style {
    color:white;
    font-weight: 900;
  }



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

